.container {
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;

    display: flex;
    flex-direction: column;
}

.container header {
    margin-bottom: 1rem;
}

.container header h1 {
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--title);
}

.titles {
    display: grid;
    grid-template-columns: var(--grid);
    margin-top: 3rem;
}

.titles span {
    font-size: .875rem;
    font-weight: 600;
    color: var(--text);
}

.titles > span:nth-child(2) {
    grid-column: 2 / 3;
    margin-left: 2rem;
}

.titles > span:nth-child(3) {
    grid-column: -5 / -4;
}

.titles > span:nth-child(4) {
    grid-column: -3 / -2;
}